<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>

{{> header}}
<p>{{pageContent}}</p>
<p>{{id}}</p>
<p>Author: {{fullName author}}</p>
{{> footer}}

</body>
</html>